/* Body styling */
body {
    background-color: hsl(217, 54%, 11%);

}


/* card styling */
.card {
    background-color: hsl(216, 50%, 16%);
    width: 80%;
    margin: 30% auto;
    border-radius: 2%;
    padding-top: 5%;
    padding-bottom: 5%;




}

img.nft {
    display: block;
    width: 90%;
    margin: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}

.eqb {
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding-left: 1.65rem;
    padding-right: 1.65rem;
}

.brief {
    color: hsl(215, 51%, 70%);
    font-family: 'Open Sans', sans-serif;
    padding-left: 1.65rem;
    padding-right: 1.65rem;
    padding-right: 1.65rem;
}

.pr {
    display: flex;
    color: hsl(178, 100%, 50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    margin: auto;
    gap: 5rem;
    padding-left: 1.65rem;
    padding-right: 1.65rem;

}

.line {

    border: hsl(215, 32%, 27%);

    width: 70%;
    padding-top: 2rem;

    margin: auto;

}

eqbImg.creatorImg {
    display: block;
    width: 10%;

}
.foot{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    
    
}

.eye {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
  }
  
  .card:hover img.nft  {
    opacity: 0.3;
  }
  
  .card:hover img.eye {
    opacity: 1;
  }

@media only screen and (min-width: 1440px) {
    /* For desktop: */
    .card {
        width: 30%;
        margin: 30% auto;
        border-radius: 2%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .pr {
        display: flex;
        color: hsl(178, 100%, 50%);
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        list-style: none;
        margin: auto;
        gap: 12rem;
        padding-left: 1.65rem;
        padding-right: 1.65rem;
    }
        .eye {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 105%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            align-items: center;
          }
          
          .card:hover img.nft  {
            opacity: 0.3;
          }
          
          .card:hover img.eye {
            opacity: 1;
          }
        }
    





  